.admin{
    width: 100%;
    height: 100vh;
    // background: #E5E5E5;
    background: #F9FAFB;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    .menu{
        width: 256px;
        height: 100vh;
        background: #FFFFFF;
        border: 1px solid #F2F5F4;

        .menu_top_container{
            height: 126px;
            text-align: center;
            align-items: center;
            display: flex;
            flex-direction: row;
            margin-left: 16px;
            margin-right: 18px;
            justify-content: space-between;
        }
        .menu_sections{
            display: flex;
            flex-direction: column;
            overflow-y: scroll;

            .my-icon, .my-icon_opener{
                path{
                    fill: #7B817F;
                    // &:hover{
                    //     fill:#159671;
                    // }
                }
            }

            section{
                height: 56px;
                display: flex;
                flex-direction: row;
                align-items: center;
                position: relative;
                &:hover{
                    p{ color: #159671;}
                    .my-icon, .opener{
                        path{
                            fill: #159671;
                        }
                    }
                    &::before{
                        content:"";
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 4px;
                        height: 56px;
                        background-color: #159671;
                    }
                }
                
                .icon{
                    padding: 19px 15px 19px 23px;
                }
                p{
                    font-family: Inter;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 24px;
                    color: #7B817F;
                    &:hover{
                        color: #159671;
                    }
                }
                .opener{
                    margin-left: auto;
                    padding-right: 23px;
                    // path{
                    //     fill: green;
                    //     &:hover{
                    //         fill:red;
                    //     }
                    // }
                }
            }
        }
    }
    .monitoring{
        height: 100vh;
        width: 100%;
        

        .main{
            width: 100%;
            height: 82px;
            background: #FFFFFF;
            border: 1px solid #F2F5F4;
            padding: 23px 51px 23px 40px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            .section_name{
                font-family: Inter;
                font-style: normal;
                font-weight: 500;
                font-size: 20px;
                line-height: 32px;
                color: #252733;
            }
            .main_right{
                display: flex;
                flex-direction: row;
                align-items: center;

                .main_right_notification{
                    margin: 0px 36px 0px 30px;
                }
                .profile_img{
                    width: 42px;
                    height: 42px;
                    border-radius: 50%;
                    border: 1px solid #DCE0DF;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                    img{
                        width: 36px;
                        height: 36px;
                        background:#C4C4C4;
                        border-radius: 50%;
                    }
                }
            }
        }
        .monitoring_container{
            width: 100%;
            height:calc(100vh - 82px);
            padding: 40px;
            background-color: #b4bd94;
            overflow-y: scroll;

            .boxs{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-bottom: 24px;

                .box{
                    height: 76px;
                    max-width: 258px;
                    width: 100%;
                    background: #ffffff;
                    border: 1px solid #F2F5F4;
                    box-sizing: border-box;
                    border-radius: 8px;
                    display: flex;
                    align-items: center;
                    padding: 16px;

                    .box_icon_container{
                        width: 44px;
                        height: 44px;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin-right: 16px;
                        .box_icons{
                            path{
                                fill: #ffffff;
                            }
                        }
                        &.agents{
                            background: linear-gradient(225deg, #159671 0%, #27DCA8 100%);
                        }
                        &.products{
                            background: linear-gradient(315deg, #FF6633 0%, #FFAF95 100%);
                        }
                        &.categories{
                            background: linear-gradient(135deg, #FF818E 0%, #FFB6BD 0.01%, #FF364C 100%), linear-gradient(225deg, #159671 0%, #27DCA8 100%);
                        }
                        &.demand{
                            background: linear-gradient(135deg, #8DAAFF 0%, #1752FF 100%);
                        }
                    }
                    div{
                        display: flex;
                        flex-direction: column;
                        h3{
                            font-family: Inter;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 16px;
                            line-height: 20px;
                            color: #505453;
                        }
                        p{
                            font-family: Inter;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 18px;
                            line-height: 24px;
                            color: #0D1012;
                        }
                    }
                }
            }
            .client_statistics_container{
                display: flex;
                flex-direction:row;
                width: 100%;
               
                .statistics_left_container{
                    width: calc(100% - 258px - 24px);
                    margin-right: 24px;
                    height: calc(100vh - 82px - 40px - 76px - 24px);

                    .client_statistics_container_ui{
                        max-width: 822px;
                        margin-bottom: 24px;
                        height: 370px;
                        background: #FFFFFF;
                        border: 1px solid #F2F5F4;
                        box-sizing: border-box;
                        border-radius: 8px;

                        #lineChart{ }
                    }
                    .client_comments{
                        width: 100%;
                        background: #FFFFFF;
                        border: 1px solid #F2F5F4;
                        box-sizing: border-box;
                        border-radius: 8px;
                    }
                }
                .statistics_right_container{
                    width: 258px;
                    height: calc(100vh - 82px - 40px - 76px - 24px);
                    border-radius: 8px;
                    .new_customers{
                        height: 256px;
                        background: #159671;
                        box-shadow: 0px 15px 50px rgba(160, 163, 189, 0.1);
                        border-radius: 8px;
                        margin-bottom: 23px;
                    }
                    .more_views{
                        // height: 100%;
                        background: #FFFFFF;
                        border-radius: 8px;
                    }
                }
            }
        }
    }
}

